/*
 * Font Name: Figtree
 * Source: https://github.com/erikdkennedy/figtree
 * Author: Erik Kennedy (erik.d.kennedy@gmail.com)
 * Contributors: Erik Kennedy (erik.d.kennedy@gmail.com) and Emma Marichal <bonjour@emmamarichal.fr>
 * License: SIL Open Font License 1.1
*/
/* Static font fallback for older browsers */
@font-face {
  font-family: "Figtree";
  src: url("/assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("/assets/fonts/static/Figtree-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

/* Variable font for modern browsers */
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Figtree";
    src: url("/assets/fonts/Figtree-VariableFont_wght.ttf")
      format("truetype-variations");
    font-weight: 300 900;
    font-display: swap;
  }
}

:root {
  --c-yellow: hsl(47 88% 63%);
  --c-white: hsl(0 0% 100%);
  --c-gray-500: hsl(0 0% 42%);
  --c-gray-950: hsl(0 0% 7%);

  --ff-primary: "Figtree", sans-serif;

  --fs-14: calc(14 / 16 * 1rem);
  --fs-16: calc(16 / 16 * 1rem);
  --fs-24: calc(24 / 16 * 1rem);

  --fw-medium: 500;
  --fw-extra-bold: 800;

  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-300: 24px;

  --radius-xs: 4px;
  --radius-sm: 10px;
  --radius-md: 20px;

  --color-text-dark: var(--c-gray-950);
  --color-text-light: var(--c-gray-500);
  --color-body-bg: var(--c-yellow);
  --color-tag-bg: var(--c-yellow);
  --color-card-bg: var(--c-white);
  --color-link-hover: var(--c-yellow);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
